:root{
    --welc:#c9c4e3;
    --o:#f7c8b4;
    --me:#7a8aa2;
}

*{
    padding: 0;
    margin: 0;
}
@font-face {
  font-family: 'Saiyan-Sans';
  src: url('fonts/Saiyan-Sans.ttf') format('truetype');
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Saiyan-Sans', serif;
    background-image: url(images/stunning-natural-landscape.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.head{
    height:30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    
}
.main{
    height:70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-head{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--welc);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}
.o{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--o);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}
.me{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--me);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}
.to{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--o);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}
.chess{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--welc);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--me);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}
.chess-game{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 170px;
    padding-top: 80px;
}
.icon-1-play{
    height: 122px;
    width: 182px;
}
.icon-2-play{
    height: 122px;
    width: 182px;
}
.icon-img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.text-img{
    height: 50%;
    width: 121%;
    display: flex;
    align-items: center;
    padding-top:10px;
    font-size: 3rem;
}
.icon-1-play:hover{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(22, 23, 22, 0.825);
}
.icon-2-play:hover{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(22, 23, 22, 0.825);
}
.play-with-AI{
    text-align: center;
}
.play-with-your-own{
    text-align: center;
}
.custom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--welc);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--me);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    -webkit-text-stroke: 2px rgb(39, 39, 39);
}

